<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#967E76"/>
  <link rel="icon" href="./resticon.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">

  <title>Restaurants App</title>
  
</head>
<body>
  <a tabindex="0" href="#main-posts" class="skip-link">Menuju ke konten</a>
  <header class="app-bar">
    <div class="app-bar__menu">
      <button tabindex="0" id="menu" >☰</button>
    </div>
      <a href="/" tabindex="0" class="app-bar__title">
        <h1>10's Restaurant</h1>
      </a>
    <nav id="drawer" class="app-bar__nav">
      <ul>
        <li><a href="#/restaurants">Home</a></li>
        <li><a href="#/like">Favorite</a></li>
        <li><a href="https://github.com/tenteniaa">About</a></li>
      </ul>
    </nav>
  </header>

  <hero-bar></hero-bar>
  <main tabindex="0" id="main-posts"></main>
  <footer-bar></footer-bar>
</body>
</html>
